flow_nodered.json
[{"id":"70f43f10.836778","type":"mqtt out","z":"ebe4604.73d49a","name":"","topic":"boby/off","qos":"","retain":"","broker":"51f96b7e.9a8584","x":440,"y":160,"wires":[]},{"id":"fe8dfb9f.e6d868","type":"ui_button","z":"ebe4604.73d49a","name":"","group":"12f7f93e.6e2fa7","order":10,"width":0,"height":0,"passthru":false,"label":"LED OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"h","payloadType":"str","topic":"adt/merah","x":240,"y":160,"wires":[["70f43f10.836778"]]},{"id":"2b505126.abf1d6","type":"ui_button","z":"ebe4604.73d49a","name":"","group":"12f7f93e.6e2fa7","order":9,"width":0,"height":0,"passthru":false,"label":"LED ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"m","payloadType":"str","topic":"adt/merah","x":240,"y":80,"wires":[["4ce20931.550ee8"]]},{"id":"4ce20931.550ee8","type":"mqtt out","z":"ebe4604.73d49a","name":"","topic":"boby/on","qos":"","retain":"","broker":"51f96b7e.9a8584","x":460,"y":80,"wires":[]},{"id":"605727f.f61cad8","type":"mqtt in","z":"ebe4604.73d49a","name":"","topic":"boby/temperature","qos":"0","datatype":"auto","broker":"51f96b7e.9a8584","x":200,"y":360,"wires":[["e8ba7766.ae924","14bc9f8b.48d"]]},{"id":"e8ba7766.ae924","type":"ui_gauge","z":"ebe4604.73d49a","name":"","group":"12f7f93e.6e2fa7","order":1,"width":"6","height":"3","gtype":"gage","title":"SUHU","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":320,"wires":[]},{"id":"73674d60.cfc0a4","type":"mysql","z":"ebe4604.73d49a","mydb":"1ec016ab.a18779","name":"IOT_DATA","x":710,"y":400,"wires":[[]]},{"id":"14bc9f8b.48d","type":"json","z":"ebe4604.73d49a","name":"","property":"temp","action":"","pretty":true,"x":390,"y":400,"wires":[["a05bc285.6180c"]]},{"id":"f08186e8.a5ec58","type":"mqtt in","z":"ebe4604.73d49a","name":"","topic":"boby/humidity","qos":"2","datatype":"auto","broker":"8b99076e.231828","x":170,"y":660,"wires":[["4855cc4.16efc34","8cfee9a8.d9bc98"]]},{"id":"4855cc4.16efc34","type":"ui_gauge","z":"ebe4604.73d49a","name":"","group":"12f7f93e.6e2fa7","order":2,"width":"6","height":"4","gtype":"gage","title":"Kelembapan","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":620,"wires":[]},{"id":"e5a4921f.1f478","type":"mysql","z":"ebe4604.73d49a","mydb":"1ec016ab.a18779","name":"IOT_DATA","x":670,"y":700,"wires":[[]]},{"id":"bd690a39.99b9e8","type":"function","z":"ebe4604.73d49a","name":"","func":"msg.topic = \"INSERT INTO IOT_DATA (timestamp, Humidity) VALUES(FROM_UNIXTIME(\" + Date.now()/1000 +\") ,\"+ msg.payload +\") ON DUPLICATE KEY UPDATE Humidity=\" + msg.payload;\n//msg.topic = \"INSERT INTO IOT_DATA (timestamp, Humidity) VALUES( NOW() , \"+ msg.payload +\") ON DUPLICATE KEY UPDATE Humidity=\" + msg.payload;\nnode.warn(msg);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":700,"wires":[["e5a4921f.1f478"]]},{"id":"8cfee9a8.d9bc98","type":"json","z":"ebe4604.73d49a","name":"","property":"humid","action":"","pretty":true,"x":350,"y":700,"wires":[["bd690a39.99b9e8"]]},{"id":"a05bc285.6180c","type":"function","z":"ebe4604.73d49a","name":"","func":"msg.topic = \"INSERT INTO IOT_DATA (timestamp, Temperature) VALUES(FROM_UNIXTIME(\" + Date.now()/1000 +\") ,\"+ msg.payload +\") ON DUPLICATE KEY UPDATE Temperature=\" + msg.payload;\n//msg.topic = \"INSERT INTO IOT_DATA (timestamp, Temperature) VALUES( NOW() ,\"+ msg.payload +\") ON DUPLICATE KEY UPDATE Temperature=\" + msg.payload;\nnode.warn(msg)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":400,"wires":[["73674d60.cfc0a4"]]},{"id":"51f96b7e.9a8584","type":"mqtt-broker","name":"SKRIPSI_MQTT","broker":"202.154.58.25","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"12f7f93e.6e2fa7","type":"ui_group","name":"MQTT","tab":"53bd2b46.c8ec24","order":1,"disp":true,"width":"6","collapse":false},{"id":"1ec016ab.a18779","type":"MySQLdatabase","name":"","host":"0.0.0.0","port":"3306","db":"nodered","tz":"GMT+7","charset":"UTF8"},{"id":"8b99076e.231828","type":"mqtt-broker","name":"Monitoring ","broker":"202.154.58.25","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"53bd2b46.c8ec24","type":"ui_tab","name":"BOBY","icon":"dashboard","disabled":false,"hidden":false}]